<%- include("partials/header") %>
  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-2">CONTACT US</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- Google map showing SL Shop office -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1687.886265706138!2d-13.23462497466736!3d8.488827686168744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xf04c3bb0ebb4c8b%3A0xdb68bbab0d71b81b!2sMinistry%20of%20Finance!5e1!3m2!1sen!2ssl!4v1618458855037!5m2!1sen!2ssl" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  <!-- End of google map showing SL Shop office -->

  <!--Contact Us form-->
  <section class="mb-4 container">

      <!--Section heading-->
      <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
      <!--Section description-->
      <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you.</p>

      <div class="row">

          <!--Grid column-->
          <div class="col-md-9 mb-md-0 mb-5">
              <form id="contact-form" name="contact-form" action="/contact" method="POST">
                  <!--Grid row-->
                  <div class="row">
                      <!--Grid column-->
                      <div class="col-md-6">
                          <div class="md-form mb-0">
                              <input type="text" id="name" name="name" class="form-control">
                              <label for="name" class="">Your name</label>
                          </div>
                      </div>
                      <!--Grid column-->

                      <!--Grid column-->
                      <div class="col-md-6">
                          <div class="md-form mb-0">
                              <input type="text" id="email" name="email" class="form-control">
                              <label for="email" class="">Your email</label>
                          </div>
                      </div>
                      <!--Grid column-->

                  </div>
                  <!--Grid row-->

                  <!--Grid row-->
                  <div class="row">
                      <div class="col-md-12">
                          <div class="md-form mb-0">
                              <input type="text" id="subject" name="subject" class="form-control">
                              <label for="subject" class="">Subject</label>
                          </div>
                      </div>
                  </div>
                  <!--Grid row-->

                  <!--Grid row-->
                  <div class="row">

                      <!--Grid column-->
                      <div class="col-md-12">

                          <div class="md-form">
                              <textarea type="text" id="message" name="message" rows="5" class="form-control md-textarea"></textarea>
                              <label for="message">Your message</label>
                          </div>

                      </div>
                  </div>
                  <!--Grid row-->

                <div class="text-center text-md-left">
                    <button class="btn btn-primary">Send</button>
                </div>
              </form>

              <div class="status"></div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-3 text-center">
              <ul class="list-unstyled mb-0">
                  <li><i class="fas fa-map-marker-alt fa-2x"></i>
                      <p>Lightfoot Boston Street, Freetown, SL</p>
                  </li>

                  <li><i class="fas fa-phone mt-4 fa-2x"></i>
                      <p>+232 77 123 456</p>
                  </li>

                  <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                      <p>slshop637@gmail.com</p>
                  </li>
              </ul>
          </div>
          <!--Grid column-->

      </div>

  </section>
  <!--End of contact us form-->

<%- include("partials/footer") %>